*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    display: flex;
    width: 100%;
    height: 6.5rem;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}


.lovt{
    display: flex;
    width: 100%;
    height: max-content;
    padding: 3px 7rem;
    justify-content: space-between;
    
    text-align: center;
   
}

.caixaLovt{
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 3px;
    color: #999595;
    
}
.caixaFraseLovt{
    font-size: 15px;
}
/*
  Barra Lovt
*/
#caixa{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 40px;
    height: 25px;
    border-radius: 5px;

   

}

.barra1{
    width: 100%;
    height:3px;
    border-radius: 3px;
    background: #999595;
    

}
.barra2{
    width: 100%;
    height:3px;
    background: #999595;
    
}
.barra3{
    width: 100%;
    height:3px;
    border-radius: 3px;
    background: #999595;
    
}
/*Parte do Main*/
main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.imgcasa {
    display: flex;
    
    padding: 3rem;
    width: 70%;
    flex-direction: column;
    gap: 3rem;
   
}
.imgcasa > img:first-of-type{
    display: flex;
    width: 100%;
    height: max-content;
}
.caixaSecundaria{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    color:#555555 ;
}
.caixa1{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    
    
}
.textoCaixa{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #EEEEEE;
}
.preco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circuloverde{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 10px;

    background: #51D275;
    
}

.caixa2{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
}
.circulogold{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 10px;

    background: #DC9730;
}

/*parte do box your style*/

#box1{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    gap: 1rem;
    
}

.Style{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;

    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #888888;
    border: solid;
}

#box3{
    background-image: url('/IMG/Rectangle\ 11.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 5px;
    
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffff;
}

#box4{
    background-image: url('/IMG/Rectangle\ 12.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    border-radius: 5px;
    
    font-size: 30px;
    color: #ffff;
    position: relative;
}

#box5{
    background-image: url('/IMG/Rectangle\ 13.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    border-radius: 5px;
    
    font-size: 30px;
    color: #ffff;
    position: relative;
}
footer{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 6rem;
}

.mapa{
    display: flex;
    width: 25%;
    height: 300px;
}

.mapa img:first-of-type{
    width: 100%;
    height: 100%;
}

.copyright{
    display: flex;
    width: 25%;
    height: 300px;
    flex-direction: column;
  
}

.descricao{
    display: flex;
    margin: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.medias{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 20px;

}